In [5]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
import pymongo as pym

In [6]:
!which chromedriver

/usr/local/bin/chromedriver

In [7]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path)

In [8]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

# Optional delay for loading the page
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

<h1 style="color:gray;">Step 1 - Scraping</h1>

<h2 style="color:gray;">NASA Mars News</h2>

<h4 style="color:gray;">Scrape the [NASA Mars News Site](https://mars.nasa.gov/news/) and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.</h4>

In [9]:
html = browser.html
news_soup = soup(html, 'html.parser')

In [11]:
titles = news_soup.find_all('div', class_="content_title")

In [13]:
title_list=[]
for title in titles:
    title_list.append(title.text)

In [14]:
del title_list[0]

In [16]:
descriptions= news_soup.find_all('div', class_="article_teaser_body")

In [17]:
description_list=[]
for description in descriptions:
    description_list.append(description.text)

In [18]:
content_df=pd.DataFrame(list(zip(title_list,description_list)), columns=["Title","Description"])
content_dict=content_df.to_dict('records')

In [19]:
client=pym.MongoClient('mongodb://localhost:27017')
db=client.mars

In [20]:
db.news.insert_many(content_dict)

In [21]:
db.news.estimated_document_count()

40

<h2 style="color:gray;"> JPL Mars Space Images - Featured Image</h2>

In [31]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [32]:
images=browser.find_by_tag('img')
images.click()

In [33]:
featured_image_url_link=[]
for image in images:
    featured_image_url_link.append(image['src'])
    print(image['src'])

https://www.jpl.nasa.gov/_nuxt/img/logo-tribrand-color.8f95c3b.svg
https://www.jpl.nasa.gov/_nuxt/img/logo-tribrand-color.8f95c3b.svg
https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24493.2e16d0ba.fill-400x400-c50.jpg
https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24492.2e16d0ba.fill-400x400-c50.jpg
https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24491.2e16d0ba.fill-400x400-c50.jpg
https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24458.2e16d0ba.fill-400x400-c50.jpg
https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24432.2e16d0ba.fill-400x400-c50.jpg
https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24457.2e16d0ba.fill-400x400-c50.jpg
https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA23728.2e16d0ba.fill-400x400-c50.jpg
https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24456.2e16d0ba.fill-400x400-c50.jpg
https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24488.2e16d0ba.fill-400x400-c50.jpg
https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24490.2e16d0ba.fill-400x400-c50.jpg

<h2 style="color:gray;"> Mars Facts</h2>

In [34]:
df = pd.read_html('http://space-facts.com/mars/')[0]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [35]:
df.columns=['Description', 'Mars']
df.set_index('Description', inplace=True)
df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [36]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

<h2 style="color:gray;">Mars Hemispheres</h2>

In [37]:
url = 'https://astrogeology.usgs.gov/maps/mars-viking-hemisphere-point-perspectives'
browser.visit(url)

In [48]:
hemispheres= browser.find_by_css("div.description h3")

hemis_list=[]
for hemis in hemispheres:
    hemis_list.append(hemis.text)

In [49]:
hemisphere_image_urls = []

# Next, loop through those links, click the link, find the sample anchor, return the href
for i in range(len(hemis_list)):
    
    # We have to find the elements on each loop to avoid a stale element exception
    browser.find_by_css("div.description h3")[i].click()
    
    # Next, we find the Sample image anchor tag and extract the href
    sample_elem = browser.links.find_by_text('Sample').first
    hemisphere_image_urls.append(sample_elem['href'])
    
    # Finally, we navigate backwards
    browser.back()

In [51]:
hemisphere_image_urls

['https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_unenhanced.tif/full.jpg',
 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_unenhanced.tif/full.jpg',
 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_unenhanced.tif/full.jpg',
 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_unenhanced.tif/full.jpg',
 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg']

In [54]:
hemisphere_df=pd.DataFrame(list(zip(hemis_list,hemisphere_image_urls)), columns=["Hemisphere_Name","URL"])
hemisphere_dict=hemisphere_df.to_dict('records')

In [55]:
client=pym.MongoClient('mongodb://localhost:27017')
db=client.mars

In [56]:
db.hemispheres.insert_many(hemisphere_dict)

In [57]:
db.hemispheres.estimated_document_count()

8

In [58]:
browser.quit()